.button_file{
    margin-right: 50px;
    text-align: right;
}
.text_button{
    margin-right: 10px;
    color: red;
    text-decoration: red;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(179, 179, 179);
}
.logo-pengadilan{
    width: 25px;
}
.kartu{
    width: 400px;
}