.button_file{
    margin-right: 50px;
    text-align: right;
}
.text_button{
    margin-right: 10px;
    color: red;
    text-decoration: red;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(179, 179, 179);
}
.logo-pengadilan{
    width: 25px;
}
.kartu{
    width: 400px;
}
.addKasus{
    text-align: right;
    margin-bottom: 20px;
    margin-top: 10px;
}
.addGugatan{
    text-align: right;
}
.garisDataDiri{
    border: 1px solid black;
    margin-top: 40px;
}
.invalid-input {
    border: 2px solid red;
}
.textTambahan{
    margin-top: 30px;
    margin-left: 13px;
}
.headerUser{
    font-size: 20px;
    margin-right: 50px;
    color: black;
    font-weight: 500;
}
.headerUser:hover{
    color: green;
}
.body-user{
    background: linear-gradient(green 200px, white 200px);
}
.card-user{
    margin-left: 70px;
    margin-top: 50px;
}
.upload-header{
    margin-left: 50px;
    margin-top: 20px;
}
.home-user{
    background: linear-gradient(green 500px, white 500px);
}