.button_file{
    margin-right: 50px;
    text-align: right;
}
.text_button{
    margin-right: 10px;
    color: red;
    text-decoration: red;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(179, 179, 179);
}
.logo-pengadilan{
    width: 25px;
}
.kartu{
    width: 400px;
}
.addKasus{
    text-align: right;
    margin-bottom: 20px;
    margin-top: 10px;
}
.addGugatan{
    text-align: right;
}
.garisDataDiri{
    border: 1px solid black;
    margin-top: 40px;
}
.invalid-input {
    border: 2px solid red;
}
.textTambahan{
    margin-top: 30px;
    margin-left: 13px;
}
.headerUser{
    font-size: 20px;
    margin-right: 50px;
    color: black;
    font-weight: 500;
}
.headerUser:hover{
    color: green;
}
.body-user{
    background: linear-gradient(green 200px, white 200px);
}
.card-user{
    margin-left: 70px;
    margin-top: 50px;
}
.upload-header{
    margin-left: 50px;
    margin-top: 20px;
}
.home-user{
    background: linear-gradient(green 500px, white 500px);
}

.container2 {
    background-color: #026802;
    display: flex;
    justify-content: space-between;
    border: 1px solid ;
    height: 500px;
}

.header-ejas {
    font-weight: bold;
    margin-top: 10px;
    font-size: 60px;
    line-height: 1;
}

.header-panjang {
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
}

.header-text {
    color: white;
    padding-top: 150px;
    padding-left: 80px;
    line-height: 1;
}

.header-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 1;
}

.logo-container {
    max-width: 250px;
    margin-top: 110px;
    margin-right: 70px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.userCard{
    margin-left:60px;
    margin-right: 60px;
}

.text-list{
    font-weight: bold;
}

.ol-home{
    margin-left: 100px;
}

.anak-list{
    margin-left: 32%;
}

/* Footer Styles */
.footer {
    background-color: #026802;
    color: white;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

.social-media {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.social-media a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.social-media img {
    width: 30px;
    margin-right: 10px;
}

.map iframe {
    border: 0;
    margin-right: 60px;
}

.btnAanmaning{
    text-align: center;
}

.btnauth{
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin-top: -10px;
}
.btnauth:hover{
    color: green;
}

.error {
    color: red;
    font-size: 12px;
  }